body {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    background: url(assets/background.gif) center;
    background-size: cover;
    padding: 0px;
    margin: 0px;
    font-family: customFont;
    color: white;
    padding: 0px 20px;
}
h1 {
    font-size: 35px;
    background: -webkit-linear-gradient(#4D4DFF, #C724B1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
a {
    text-decoration: none;
    background: -webkit-linear-gradient(#4D4DFF, #C724B1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.name {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: space-between;
    align-self: stretch
}

.TOP {
    display: flex;
    /* align-content: flex-start; */
    padding-top: 20px;
    align-self: flex-start;
}
.calculator {
    max-height: fit-content;
    /* min-height: min-content; */
    /* height: 500px; */
    width: 350px;
    border: 2px solid white;
    border-radius: 20px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-flow: column;
    padding: 20px 0px ;
    margin: 20px;
    background-image: linear-gradient(to right, #4D4DFF, #C724B1);
}

.output {
    /* padding: 0px 0px; */
    border-radius: 10px;
    width: 300px;
    min-height: 90px;
    max-height: max-content;
    /* margin: 25px 0px;    */
    /* flex: auto; */
    display: flex;
    /* flex-direction: column; */
    align-items: flex-end;
    justify-content: space-between; 
    flex-flow: nowrap column;
    /* margin-bottom: 20px; */
    text-align: end;
    background-color: black;
}

.operations {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    height: 370px;
    align-items: center;
    justify-content: center;
}

.operations button {
    width: 70px;
    height: 70px;
    margin: 2.5px;
    font-size: x-large;
    border-radius: 20px;
    border-style:none;
    background-color: black;
    color: white;
    font-family: customFont;
    
}

.calculation {
    /* border: 2px solid black; */
    width: 100%;
    min-height: 25px;
    max-height: max-content;
    overflow-wrap: break-word;
    /* flex-grow: 1; */
    font-size:25px;
    padding: 5px 5px 0px 0px;
    margin: 0px 0px 5px 0px;
    box-sizing: border-box;
    color: white;
}

.result {
    /* border: 2px solid black; */
    width: 100%;
    min-height: 40px;
    font-size:45px;
    overflow-wrap: break-word;

    /* max-height: fit-content; */
    box-sizing: border-box;
    padding: 0px 5px;
    margin: 0px;
    background: -webkit-linear-gradient(#4D4DFF, #C724B1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.clear {
    align-self: flex-end;
    margin-right: 35px;
    background-color: transparent;
    border-style: none;
    width: 30px;
    height: 30px;
    padding: 0px;
    font-size: 30px;
}

@font-face {
    font-family: customFont;
    src: url(assets/goodtimesrg.otf);
}