body {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url(/assets/background.gif) center;
    background-size: cover;
    padding: 10px;
}

.calculator {
    max-height: 1000px;
    /* min-height: min-content; */
    /* height: 500px; */
    width: 350px;
    border: 2px solid white;
    border-radius: 20px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-flow: column;
    padding: 20px 0px ;
    margin: 300px;
    background-image: linear-gradient(to right, #4D4DFF, #C724B1);
}

.output {
    border: 2px solid white;
    width: 300px;
    min-height: 90px;
    max-height: max-content;
    /* margin: 25px 0px;    */
    /* flex: auto; */
    display: flex;
    /* flex-direction: column; */
    align-items: flex-end; 
    flex-flow: nowrap column;
    margin-bottom: 20px;
    text-align: end;
}

.operations {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    height: 370px;
    align-items: center;
    justify-content: center;
}

button {
    width: 70px;
    height: 70px;
    margin: 2.5px;
    font-size: x-large;
    border-radius: 20px;
    border-style:none;
}

.calculation {
    /* border: 2px solid black; */
    width: 100%;
    min-height: 25px;
    max-height: max-content;
    overflow-wrap: break-word;
    /* flex-grow: 1; */
    font-size:30px;
    padding: 0px 5px;
    margin: 0px;
    box-sizing: border-box;
}

.result {
    /* border: 2px solid black; */
    width: 100%;
    min-height: 40px;
    font-size:45px;
    overflow-wrap: break-word;

    /* max-height: fit-content; */
    box-sizing: border-box;
    padding: 0px 5px;
    margin: 0px;
}